<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586161917282-46sk4otv08jbbagk692pdjdhv2t7us5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586161917282-46sk4otv08jbbagk692pdjdhv2t7us5p</string>
	<key>API_KEY</key>
	<string>AIzaSyAOZdrtLBMUj4yMSTIityMIIcVazX_cFmU</string>
	<key>GCM_SENDER_ID</key>
	<string>586161917282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Apple.Review-Du-Lich</string>
	<key>PROJECT_ID</key>
	<string>review-du-lich</string>
	<key>STORAGE_BUCKET</key>
	<string>review-du-lich.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:586161917282:ios:51862a9ba5f824b15ab03b</string>
	<key>DATABASE_URL</key>
	<string>https://review-du-lich.firebaseio.com</string>
</dict>
</plist>
